* {
    margin : 0px;
    padding : 0px;
}
body{
    background-color: white;
    font-family: cursive;
    height: auto;
}
.headerOne{
    margin-top: 40px;
}
.sign{
    color : #151515;
    font-weight: bold;
}
@media only screen and (max-width: 540px) {
    logo {
        width : 150px;
        height: 65px;
    }
}
.levelThree {
    background-image: url(../css/bg_image.jpg);
    margin-bottom: 10px;
}
.gray{
    height: 20px;
    background-color: #F5FFF6;
}
ul{
    list-style: none;
    margin-top: 10px;
}

ul li a{
    float: left;
    text-decoration: none;
    color : white;
    font-weight: bold;
    padding : 0px 30px;
    line-height: 40px;
    height: 40px;
    text-align: center;
}
ul li a:hover {
    background-color: #F8C471;
    color : whitesmoke;
    border-radius: 8px;
    text-decoration: none;
}
.menu{
    height : 60px;
    background-color: #F59D21;
}
.btn{
    color : #F39C12;
    font-weight: bolder;
}
.header{
    color :#f39c12;
    margin-bottom: 20px;
    font-weight: bolder;
}
.bg-writing{
    margin-top: -150px;
}

.levelFour{
    margin-top: 20px;
    margin-left: 20px;
}
.services{
    background-color: #FFFFFF;
    height: 100px;
}
.custom{
    font-size: 30px;
    color : #F59F29;
}
.service_header5{
    font-size: 20px;
    color : #2F2F2F;
    font-weight: bold;
}
.service_header6{   
    font-size: 15px;
    color : #2f2f2f;
    font-weight: 900;
}
.service_saparetor{
    height: 50px;
}
.left{
    float: left;
}
.right{
    float: right;
}


.space{
    margin-left: 5px;
}
.sectionSix{
    margin-top: 20px;
    height : 400px;
    background-color: #F2F2F2;
}.sectionFive{
     height: auto;
 }
.secFiveOne{
    height: 100px;
    margin-bottom: 20px;
}
.secFiveTwo{
    margin-top: 20px;
}
.services{
    padding-right: 0px;
}
.secvices>last-child{
    padding-right: 0px;
}
.serviceLeft{
    background-color: #E8E8E8;
    height : 120px;
}
..modular_hover >a {
    text-decoration: none;
    color : #29ABE2;
    font-weight: bold;
}
.modular_hover >a:hover {
    text-decoration: none;
    color : #DDA039;
    font-weight: bolder;
    font-size: 20px;
}

.bigChair{
    margin-top: 80px;
}
.hr1{
    margin : auto;
    width: 40%;
    
}
.countHeader{
  color: #396;
  font-weight: 100;
  font-size: 40px;
  margin: 40px 0px 20px;
}

#clockdiv{
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
}

#clockdiv > div{
    padding: 10px;
    border-radius: 3px;
    background: #00BF96;
    display: inline-block;
}

#clockdiv div > span{
    padding: 15px;
    border-radius: 3px;
    background: #00816A;
    display: inline-block;
}

.smalltext{
    padding-top: 5px;
    font-size: 16px;
}
.comfort{
    color : #00bf96;
    font-weight: bolder;
    font-size: 20px;
}
.glyphicon{
    padding-top: 10px;
}
hr{
    border-style: inset;
    border-width: 1px;
    display: block;
    
}
.sectionSeven{
    margin-top: 40px;
}
.rowHeight{
    background-color: #F2F2F2;
    height: 500px;
}

            #slides{
    position: relative;
    height: 150px;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

.slide{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;

    -webkit-transition: opacity 2s;
    -moz-transition: opacity 2s;
    -o-transition: opacity 2s;
    transition: opacity 2s;
}

.showing{
    opacity: 2;
    z-index: 1;
}



/*
non-essential styles:
just for appearance; change whatever you want
*/

.slide{
    font-size: 40px;
    padding: 40px;
    box-sizing: border-box;
    
    color: #fff;
}
.slideLeft{
    float: left;
}
.slideRight{
    float: right;
}

/* Section Eight CSS */

.sectionEight{
    margin-top: 50px;
    height : auto;
    margin-bottom: 50px;
}

.eightRowOne{
    padding-bottom: 50px;
}


/*  Section Nine CSS */
.sectionNine{
    height : 300px;
    background-color: #D98880;
    text-align: center;
}
.hoverCarousel{
    margin-top: 50px;
}


/* Section Ten CSS */
.sectionTen{
    margin-top: 50px;
}


/* Section Eleven CSS */
footer {
    background-color: #2d2d30;
    color: #f5f5f5;
    padding: 32px;
}

footer a {
    color: #f5f5f5;
}

footer a:hover {
    color: #777;
    text-decoration: none;
}


























